@import '../../global.scss';
.drink{
    margin: 50px 0 100px 0;
    h2{
        font-size: 34px;
        margin:0;
    }
    .slick-dots {
        li {
            button {
                &:before {
                    color: rgb(179, 178, 178) !important;
                    font-size: 10px !important;
                    margin-top: 10px;
                }
            }
        }
        li.slick-active {
            button {
                &:before {
                    color: $yellow-shade !important;
                }
            }
        }
    }
    
}