@import "../../global.scss";

.benefits {
  width: 100%;
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;


  .benefitCard {
    width: 290px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-bottom: 40px;
 
    border: 2px solid $grey--extra--light;
border-radius: 8px;
    .benefitIcon {
        width: 40%;
        margin: auto;
    }

    .benefitTitle {
      font-size: 20px;
      font-weight: 600;
      margin: auto;
    }

    .benefitDescription {
        margin: auto;
      font-weight: 300;
      font-size: 16px;
    }
  }
}
