//color variables
$dark: #1d262a;
$white: #f3f3f3;
$white--shade: #fffaf2;
$brown--light: #fce5c0;
$mud: #926228;
$yellow-shade: #fcbc08;
$grey-shade: #515151;
$brown--shade: #fec568;
$grey--lightest: #CCCCCC;
$grey--extra--light: #D4D4D4;
$grey--: #DBDBDB;

